@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #101E31;
  color: #D1F5F3;
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  padding: 50px 0;
  align-items: center;
}

.title {
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  display: inline;
}

.codeText {
  color: #40CFE4;
  font-family: "Roboto Mono";
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 700;
}

.intro {
  margin-top: 35px;
  font-weight: 200;
  width: 88%;
}

.introBox {
  width: 50%;
  display: inline-block;
}

.picBox {
  display: inline-block;
  width: 40%;
  margin-left: 75px;
  position: relative;
}

.topPic {
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.picOutline {
  border: 3px solid #40CFE4;
  border-radius: 5px;
  width: 352px;
  height: 352px;
  position: absolute;
  z-index: 0;
  top: 18px;
  left: 18px;
}


.postTitle {
  background: linear-gradient(to top, #D2F7F2 50%, transparent 50%);
  display: inline;
}


.subText {
  color: #40CFE4;
  font-family: "Roboto Mono";
  font-size: 1.2em;
  margin: 35px 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.headTitle {
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  display: inline;
}

.codeText {
  color: #40CFE4;
  font-family: "Roboto Mono";
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 700;
}

.postTitle {
  background: linear-gradient(to top, #D2F7F2 50%, transparent 50%);
  display: inline;
}


.subText {
  color: #40CFE4;
  font-family: "Roboto Mono";
  font-size: 1.2em;
  margin: 35px 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.headTitle {
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  display: inline;
}

.subInfo {
  font-weight: 300;
}

.form {
  display: flex;
}
.input {
  display: block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 35px;
  background: #EAFFFE;
}

.btn {
  background: #007991;
  height: 35px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 1em;
  width: 35px;
  z-index: 1;
  display: block;
  margin: 0 auto;
  position: relative;
  transition: top 5s ease-out;
  transition: left 5s ease-out;
}

.btn:hover {
  cursor: pointer;
  background: #035d6f;
}

/* .btn:hover {
  top: 9px;
  left: -9px;
  cursor: pointer;
  transition: top 5s ease-out;
  transition: left 5s ease-out;
} */

.postBtn {
  text-align: center;
  display: block;
}

.code {
  color: #40CFE4;
  font-family: "Roboto Mono";
}

p {
  margin: 15px 0;
  line-height: 1.8;
  color: #D1F5F3;
}

a {
  text-decoration: none;
  color: #D1F5F3;
}

.container {
  max-width: 900px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav .logo, nav .logo:hover {
  font-weight: 700;
  font-size: 1.5em;
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  cursor: pointer;
}

nav ul li.active a, nav ul li a:hover {
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
}

nav ul li:first-child{
  margin-right: auto;
}

nav.mobile {
  display: none;
}


footer {
  color: #40CFE4;
  padding: 50px 0;
  margin-top: 80px;
}

footer ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin-right: 20px;
}

/* footer ul li:first-child {
  margin-right: auto;
  font-weight: 700;
  font-size: 1.5em;
} */

footer ul li a {
  color: #40CFE4;
  text-decoration: underline;
}

footer ul li a:hover {
  text-decoration: underline;
}

.card {
  margin: 25px 0;
}

.date {
  color: #40CFE4;
  margin-bottom: 5px;
  font-size: .9em;
  font-family: "Roboto Mono";
}

.card-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card .outline {
  height: 32px;
  width: 106px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  border-radius: 5px;
  border: 1px solid #D1F5F3;
}

.card-btn {
  color: #D1F5F3;
  background: #007991;
  font-weight: 700;
  border-radius: 5px;
  font-weight: 500;
  z-index: 1;
  padding: 4px 10px;
}

.card-btn:hover {
  background: #035d6f;
}

.card hr {
  border: none;
  border-top: 1px solid #E5E5E5;
  margin-top: 25px;
}

.projSec {
  padding: 50px 0;
}

.projList {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.projBox {
  width: 46%;
  display: inline-block;
  background: #1B3054;
  padding: 30px 15px;
  margin: 35px 0;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.projOutline {
  border-radius: 5px;
  border: 3px solid #40CFE4;
  width: 404px;
  height: 229px;
  position: absolute;
  z-index: 0;
  bottom: 25px;
  left: 10px;
}

.projOutline2 {
  border-radius: 5px;
  border: 3px solid #40CFE4;
  width: 404px;
  height: 229px;
  position: absolute;
  z-index: 0;
  bottom: 25px;
  right: -10px;
}

.projTech {
  color: #40CFE4;
  font-family: "Roboto Mono";
  font-size: .8em;
  margin-top: 0;
}

.projInfo {
  font-weight: 200;
  font-size: .9em;
  margin-top: 5px;
}

.projBox a {
  margin-right: 10px;
}

article {
  min-height: 50vh;
}

article h1 {
  margin-bottom: 25px;
  font-size: 2em;
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  display: inline-block;
}

article h2 {
  margin: 35px 0 0 0;
}

article hr {
  margin: 55px 0;
  border: none;
  border-top: 1px solid;
}

article li {
  list-style-type: circle;
}

pre {
  margin: 25px 0;
}

 code.hljs {
  padding: 25px;
  border-radius: 10px;
}


@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }

  nav.mobile {
    display: block;
  }

  nav.desktop {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
  }

  .ham {
    background: none;
    border: none;
    width: 25px;
  }

  nav.mobile ul {
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin: 0;
  }

  nav.mobile ul.visible {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  nav.mobile ul li {
    margin-bottom: 10px;
  }

  .card-info {
    flex-direction: column;
  }
  .card-btn {
    width: 106px;
    margin-top: 15px;
  }

  .card .outline {
    right: 0;
    left: 5px;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-bottom: 15px;
  }

  footer ul li:first-child {
    display: none;
  }


}