@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #101E31;
  color: #D1F5F3;
}

.code {
  color: #40CFE4;
  font-family: "Roboto Mono";
}

p {
  margin: 15px 0;
  line-height: 1.8;
  color: #D1F5F3;
}

a {
  text-decoration: none;
  color: #D1F5F3;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav .logo, nav .logo:hover {
  font-weight: 700;
  font-size: 1.5em;
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  cursor: pointer;
}

nav ul li.active a, nav ul li a:hover {
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
}

nav ul li:first-child{
  margin-right: auto;
}

nav.mobile {
  display: none;
}


footer {
  color: #40CFE4;
  padding: 50px 0;
  margin-top: 80px;
}

footer ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin-right: 20px;
}

/* footer ul li:first-child {
  margin-right: auto;
  font-weight: 700;
  font-size: 1.5em;
} */

footer ul li a {
  color: #40CFE4;
  text-decoration: underline;
}

footer ul li a:hover {
  text-decoration: underline;
}

.card {
  margin: 25px 0;
}

.date {
  color: #40CFE4;
  margin-bottom: 5px;
  font-family: "Roboto Mono";
}

.card-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card .outline {
  height: 32px;
  width: 106px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  border-radius: 5px;
  border: 1px solid #D1F5F3;
}

.card-btn {
  color: #D1F5F3;
  background: #007991;
  font-weight: 700;
  border-radius: 5px;
  font-weight: 500;
  z-index: 1;
  padding: 4px 10px;
}

.card-btn:hover {
  background: #cbb9fe;
  color: #6e46e2;
}

.card hr {
  border: none;
  border-top: 1px solid #E5E5E5;
  margin-top: 25px;
}

article {
  min-height: 50vh;
}

article h1 {
  margin-bottom: 25px;
  font-size: 2em;
  background: linear-gradient(to top, #133E7B 50%, transparent 50%);
  display: inline-block;
}

article h2 {
  margin: 35px 0 0 0;
}

article hr {
  margin: 55px 0;
  border: none;
  border-top: 1px solid;
}

article li {
  list-style-type: circle;
}

pre {
  margin: 25px 0;
}

 code.hljs {
  padding: 25px;
  border-radius: 10px;
}


@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }

  nav.mobile {
    display: block;
  }

  nav.desktop {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
  }

  .ham {
    background: none;
    border: none;
    width: 25px;
  }

  nav.mobile ul {
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin: 0;
  }

  nav.mobile ul.visible {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  nav.mobile ul li {
    margin-bottom: 10px;
  }

  .card-info {
    flex-direction: column;
  }
  .card-btn {
    width: 117px;
    margin-top: 15px;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-bottom: 15px;
  }

  footer ul li:first-child {
    display: none;
  }


}