@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  color: #635D5D;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav .logo, nav .logo:hover {
  font-weight: 700;
  font-size: 1.5em;
  background: linear-gradient(to top, #EAFBFF 50%, transparent 50%);
  cursor: pointer;
}

nav ul li.active a, nav ul li a:hover {
  background: linear-gradient(to top, #FFEEDA 50%, transparent 50%);
}

nav ul li:first-child{
  margin-right: auto;
}

nav.mobile {
  display: none;
}


footer {
  background: #5C7489;
  color: #fff;
  padding: 50px 0;
  margin-top: 80px;
}

footer ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

footer ul li {
  margin-right: 20px;
}

footer ul li:first-child {
  margin-right: auto;
  font-weight: 700;
  font-size: 1.5em;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}

.card {
  margin: 25px 0;
}

.date {
  color: #857B7B;
  margin-bottom: 5px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  color: #7950F2;
  background: #E0D7FA;
  font-weight: 700;
  border-radius: 19px;
  padding: 7px 15px;
}

.card-btn:hover {
  background: #cbb9fe;
  color: #6e46e2;
}

.card hr {
  border: none;
  border-top: 1px solid #E5E5E5;
  margin-top: 15px;
}

article {
  min-height: 50vh;
}

article h1 {
  margin-bottom: 25px;
  font-size: 2em;
  background: linear-gradient(to top, #F6E7F9 50%, transparent 50%);
  display: inline;
}

article h2 {
  margin: 35px 0 0 0;
}

 code.hljs {
  padding: 25px;
  border-radius: 10px;
}


@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }

  nav.mobile {
    display: block;
  }

  nav.desktop {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
  }

  .ham {
    background: none;
    border: none;
    width: 25px;
  }

  nav.mobile ul {
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin: 0;
  }

  nav.mobile ul.visible {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  nav.mobile ul li {
    margin-bottom: 10px;
  }

  .card-info {
    flex-direction: column;
  }
  .card-btn {
    width: 117px;
    margin-top: 15px;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-bottom: 15px;
  }

  footer ul li:first-child {
    display: none;
  }


}