

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        padding-top: 25px;
    }

    .introBox {
        width: 100%;
    }

    .picBox {
        display: none;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 25px;
    }

    .subBox {
        width: 100%;
    }

    .form {
        margin-left: 0;

    }
}

