.aboutBox {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.aboutBox p {
    width: 65%;
    display: inline-block;
    font-weight: 200;
}

.skillsBox {
    display: inline-block;
    width: 100%;
    position: relative;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        padding-top: 25px;
    }

    .introBox {
        width: 100%;
    }

    .picBox {
        display: none;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 25px;
    }

    .subBox {
        width: 100%;
    }

    .form {
        margin-left: 0;

    }
}

